* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumb Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0, 1rem;
    width: 100%;
}

.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 4px;
    color: aliceblue;
}

.nav_button:hover {
    background: rgb(15, 255, 215);
    background: linear-gradient(to right , rgb(37, 206, 206), rgb(15, 255, 215));
    transition: all 0.3s ease;
}

.navbar_links:hover {
    background: rgb(15, 255, 215);
    background: linear-gradient(to right , rgb(37, 206, 206), rgb(15, 255, 215));
    transition: all 0.3s ease;
}

@media screen and (max-width: 770px) {

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active{
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #logo{
        padding-left: 15px;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
        border-style: groove;
        height: 100px;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .nav_button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        border-style: groove;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main Page */
.main_page{
    background: rgb(15, 255, 215);
    background: linear-gradient(to right , rgb(37, 206, 206), rgb(15, 255, 215));
    padding: 200px, 0;
}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 80%;
    text-align: center;
    padding: 25px;
}

/* Apply a gradient to the text itself */
/* background-size:100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color; transparent;
-moz-text-fill-color: transparent; */

.main_title{
    font-size: 100px;
    text-transform: capitalize;
    margin: 5px;
    color: floralwhite;
}

.main_heading{
    font-size: 50px;
    color: aliceblue;
}

.main_tag{
    font-size: 25px;
    margin-top: 5px;
    color: aliceblue;
}

.order_btn{
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    width: 10%;
    margin-top: 10px;
}

.order_button{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 4px;
    color: aliceblue;
}


.order_btn:hover {
    background: #000000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 770px){
    .main_title{
        font-size: 60px;
        text-transform: capitalize;
    }
    .main_heading{
        font-size: 40px;
    }
    .main_tag{
        font-size: 20px;
    }
}