* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumb Sans', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --primary-colour: linear-gradient(45deg , rgb(37, 206, 206), rgb(15, 255, 215));
}

.main_background{
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(45deg , rgb(15, 126, 126), rgb(15, 168, 168), rgb(15, 215, 215), rgb(15, 168, 168), rgb(15, 126, 126));
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%
    }
}

.navbar {
    background: #000000;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
}

.navbar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0, 1rem;
    width: 100%;
}

.nav_button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 4px;
    color: aliceblue;
}


.nav_button:hover {
    background: var(--primary-colour);
    transition: all 0.3s ease;
}

.navbar_links:hover {
    background: var(--primary-colour);
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {

    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;

    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        width: 100%;
        margin: 0;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar_menu.active{
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #logo{
        padding-left: 15px;
        cursor: pointer;
    }

    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item{
        width: 100%;
        border-style: groove;
        height: 100px;
    }

    .navbar_links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .navbar_btn{
        padding-bottom: 2rem;
    }

    .nav_button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
        border-style: groove;
    }

    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main Page */
.hero{
    padding: 200px, 0;
}

.hero_container{
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 80%;
    text-align: center;
    padding: 25px;
}

/* Apply a gradient to the text itself */
/* background-size:100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color; transparent;
-moz-text-fill-color: transparent; */

.main_title{
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
    color: aliceblue;
}

.main_heading{
    font-size: 40px;
    color: aliceblue;
}

.main_tag{
    font-size: 20px;
    margin-top: 1.5em;
    color: aliceblue;
}

.order_btn{
    background: black;
    border: none;
    border-radius: .5em;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 3.5em;
    margin-top: 35px;
    padding: 5px;
}

.order_button{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px, 20px;
    height: 100%;
    width: 100%;
    border-style: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.3em;
    color: aliceblue;
}
.order_btn:hover{
    background: var(--primary-colour);
    transition: all 0.3s ease-in;
}

/* Recommended Section */
.recommended{
    margin: 5em auto;
}
.recommended_container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
}
.recommended_title{
    font-size: 3.5em;
    margin-bottom: .25em;
}
.recommended_tag{
    font-size: 1.5rem;
}
.recommended_one img{
    height: 50%;
    width:  50%;
    border-radius: 2em;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.recommended_product{
    font-size: 1.1em;
    margin-top: -5px;
    margin-bottom: 2.5px;
}

/* Sign Up Section */
.signup{
    margin-top: 5em;
}
.signup_container{
    display: block;
    color: aliceblue;
    width: 100%;
    align-items: center;
    text-align: center;
}